body{
	margin:0px;
	padding: 0px;
	background:#828E9A;
	background-size: cover;
}
.logo img{
	float: left;
	height: 130px;
	width: 10%;
	background: black;
}
.navi{
     margin-right: 00px;
    float: right;
	list-style: none;
	background: black;
	width: 90%;
	height: 130px;

}

.navi li{
	font-size: 30px;
	font-family: sans-serif;
	display: inline-block;

}
.navi li a{
	text-decoration: none;
	color: blue;
}
.navi li:hover{
	border: 1px blue solid;
	border-radius: 10px;
	background: white;
	color: blue;
}
.ops{
	padding: 10px 10px;
	margin-left: 150px;
	margin-top: 30px;
}
.greek img{
	margin-top: 100px;
	float: left;
	margin-left: 100px;

}
.text{
	float: right;
	margin-left: 500px;
	margin-top: -330px;
}
.text li{
	font-family: italic;
	font-size: 25px;
	color: white;
}
.text-head{
	font-family: sans-serif;
	margin-left: 580px;
    text-decoration: none;
    color: yellow;
}

.box1{
	width: 40%;
	float: left;
	height: 250px;
	background:#8E9233;
	margin-left: -550px;
}
.box1 img{
	margin-left: 70px;
	height: 130px;

}
.box1 h1{
	color: white;
	font-family: sans-serif;
	font-size: 25px;
	margin-left: 25px;
}
.box1:hover{
	background: #828E9A;
}
.text-fotter{
	color: yellow;
	margin-top: 200px;
	margin-left: -100px;
}
.box2{

	background:#37C6C4;
	width: 40%;
	height: 250px;
	margin-left: -200px;
}
.box2 img{
	margin-top: 10px;
	height: 100px;
	margin-left: 80px;
}
.box2 h1{
	color: white;
	font-family: sans-serif;
	font-size: 25px;
	margin-left: 10px;
}
.box2:hover{
	background: #828E9A;
}
.box3{
	background: #40B4EF;
	width: 40%;
	float: right;
	margin-top: -250px;
	margin-right: 250px;
	height: 250px;

}
.box3 img{
	margin-left: 70px;
	margin-top: 10px;
	height: 100px;
}
.box3 h1{
	color: white;	
	font-size: 25px;
	font-family: sans-serif;
	margin-left: 60px;
}

.box3:hover{
	background: #828E9A;
}
